

/* css styles */
h1, h2, h3, h4 {
  font-weight: bold;
  margin-top: 1rem;
  /* font-family: 'Petrona', serif; */
}

h3 {
  font-size: 1.2rem;
  /* font-family: 'Petrona', serif; */
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  /* font-family: 'Petrona', serif; */
}

td {
    /* height: 50px; */
    vertical-align: top;
    border-width: 0px;
    border-color: #ffffff;
    border: none; 
  }

table {
  border-collapse: collapse;
  border-width: 0px;
  border: none; 
}

.table>:not(caption)>*:not(:last-child)>* { 
  border: none; 
}

.table>:not(:first-child) {
  border: none;
}

.table {
  border: none;
}

tr {
  border: none;
}

.smaller { 
    font-size: 0.8em;
}

.syllabus-date { 
    font-size: 0.8em;
    color: grey;
}

.syllabus-day-of-week { 
    font-size: 1.5em;
    text-align: left;
    margin-top: 0;
    padding-top: 0;       
}

.syllabus-date-pane {  
    padding-right: 1em;
    min-width:4em;
    margin-top: 0;
    padding-top: 0;
}

.syllabus-item-objective { 
    margin-bottom: 2em;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 2em; 
    width: 20%;
}

.syllabus-item-readings { 
  margin-bottom: 2em;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 2em; 
  width: 20%;
}

.syllabus-item-assignment { 
  margin-bottom: 2em;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 2em; 
  width: 20%;
}

.syllabus-description-table-entry {
    padding-bottom:1em;
}

.syllabus-description-table-header {
    padding-right:1em; 
    min-width:10em;
}

.syllabus-description-learning-objective {
  padding-right:1em; 
  min-width:10em;
  color: #A23E48;
}

.learning-objective {
  font-weight: bold;
  color: #A23E48;
}

.assignment-goal {
  font-weight: bold;
  color: #c66600;
}

.supporting-reading {
  font-style: italic;
  color: #444444;
}

.menu-text {
  font-weight: bold;
  font-size: 0.8em;
  /* font-family: "Red Hat Text"; */
  /* color: #444444; */
}

.chapter-number {
  font-weight: extra-bold;
  color: #8d8d8d;
  /* font-size: 1rem;  */
}


.menu-text .chapter-number {
  font-weight: extra-bold;
  color: #8d8d8d;
  font-size: 1em;
}

.menu-text .chapter-title {
  font-size: 1em;
  font-weight: normal;
}


/* #quarto-sidebar-section-2 > li:nth-child(3) > div > a > span > span.chapter-title {
  font-weight: normal;
  color: #444444;
} */

#TOC {
  /* background: url("assets/img/second-neighbors.png");
  background-size: 50%;
  padding-top: 80px !important;
  background-repeat: no-repeat; */
  padding: 0.5em;
  background-color: #f0f0f0;
  border-radius: 1em;
}

#toc-title {
  /* font-weight: bold;
  color: #444444; */
  font-size: 0em;
}

#quarto-sidebar > div.pt-lg-2.mt-2.text-left.sidebar-header {
  padding-bottom: 1em;
  padding-left: 0.3em;
}

.toc-active {
}

#quarto-toc-toggle {
  background-color: #f0f0f0;
  border-radius: 1em;
}


#quarto-sidebar > div.sidebar-menu-container {
  background-color: #f0f0f0;
  border-radius: 1em;
  padding: 1em;
}


/* #quarto-sidebar-section-2 > li:nth-child(2) > div > a {
  color: #3b3b3b47;
} */

@media only screen and (max-width: 700px) {
    .syllabus-description-table-header {
      min-width: 5em;
    }
  }


.float-left { 
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
.img-profile {
    float: left;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 1%;
  }
.img-responsive {
    width: 25%;
}


@media only screen and (max-width: 400px) {
    .img-responsive {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

.box {
  background-color: #e4e4e431;
  /* border: thin solid #3b3b3b47; */
  border-top: thin solid #3b3b3b47;
  border-bottom: thin solid #3b3b3b47;
  /* border-left: thick solid #377cbc9a; */
  /* padding: 1rem; */
  /* border-radius: 5px; */
}

.exercise {
  background-color: #e4e4e431;
}

.hide {
  border-left: thick solid #c251a5;
  padding-left: 1rem; 
}

.proof {
  border-left: thick solid #20895a;
  padding-left: 1rem; 
}



@media (min-width: 992px) {
  .margin-caption, div.aside, aside:not(.footnotes):not(.sidebar), .column-margin {
      grid-column: body-end / page-end !important;
      z-index: 998;
  }
}


@media (min-width: 992px) {
  .margin-caption, div.aside, aside:not(.footnotes):not(.sidebar), .column-margin {
      grid-column: body-end / page-end !important;
      z-index: 998;
  }
}